# ================================
# KEYCLOAK
# ================================
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/smk3balige/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://localhost:8080/realms/smk3balige

# ================================
# KEYCLOAK CLIENT
# ================================
KEYCLOAK_CLIENT_SECRET=

# ================================
# GATEWAY
# ================================
GATEWAY_PORT=3000
CORS_ORIGIN=http://localhost:5173

# ================================
# SERVICE URLS
# ================================
SERVICE_PELANGGARAN_URL=http://localhost:3001
SERVICE_PROFILE_URL=http://localhost:3002
SERVICE_BERITA_URL=http://localhost:3003
SERVICE_PORTOFOLIO_URL=http://localhost:3004
SERVICE_MANAGEMENT_URL=http://localhost:3005

# ================================
# DATABASE PER SERVICE
# ================================
DATABASE_URL_PELANGGARAN=postgresql://postgres:postgres_pass@localhost:5433/db_pelanggaran
DATABASE_URL_PROFILE=postgresql://postgres:postgres_pass@localhost:5434/db_profile
DATABASE_URL_BERITA=postgresql://postgres:postgres_pass@localhost:5435/db_berita
DATABASE_URL_PORTOFOLIO=postgresql://postgres:postgres_pass@localhost:5436/db_portofolio
DATABASE_URL_MANAGEMENT=postgresql://postgres:postgres_pass@localhost:5437/db_management